body {
    margin: 0;
    min-height: 100vh;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: -0.02em;

    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: -2;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.03;
    pointer-events: none;
    z-index: -1;
}

.primary-btn {
    background: white;
    color: black;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.2s;
}

.primary-btn:hover { background: #e2e2e2; }

.upload-btn, .secondary-btn {
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.1);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.2s;
}

.tech-input {
    width: 100%;
    background: #0f0f0f;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 12px;
    color: white;
    border-radius: 6px;
    outline: none;
}

.video-card {
    background: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 12px;
    padding: 12px;
    transition: 0.3s;
}

.drop-zone {
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.fade-in { animation: fadeIn 0.8s ease-out; }
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}